*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flex-center($justify, $align) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
  --color-1: #012C29;
  --color-2: #A3161D;
  --color-3: #DED7CF;
  --color-4: #B39478;
  --color-5: #B5E7F7;
}

#root{
  width: 100vw;
  height: 300vh;

  &>div:nth-child(1){
    width: 100vw;
    height: 70vh;
    background-image: url(상의원1.jpg);
    background-size: cover;
    background-attachment: fixed;

    @include flex-center(center, center);

    &>div:nth-child(1){
      width: 40vw;
      height: 20vh;
      @include flex-center(center, center);
      backdrop-filter: blur(10px);
      border-radius: 20px;

      font-size: 2rem;
      color: var(--color-4);
    }
  }

  // who wears hanbok?

  &>div:nth-child(2){
    width: 100vw;
    height: 30vh;

    background-color: var(--color-3);
    font-size: 2rem;

    color: var(--color-4);
    @include flex-center(center, center);
    flex-direction: column;
    &>p{
      width: 80vw;
      height: 10vh;
      line-height: 30px;
      text-align: center;
      font-size: 1.5rem;
      
      @include flex-center(center, center);
    }
  }

  // korea tradition

  &>div:nth-child(3){
    width: 100vw;
    height: 70vh;
    background-image: url(상의원2.png);
    background-size: cover;

    background-attachment: fixed;

  }

  // 2 page background

  &>div:nth-child(4){
    width: 100vw;
    height: 20vh;
    background-color: var(--color-2);

    color: var(--color-4);
    font-size: 2rem;
    @include flex-center(center, center);
    flex-direction: column;

    &>p{
      width: 80vw;
      height: 10vh;
      line-height: 30px;
      text-align: center;
      font-size: 1.5rem;
      @include flex-center(center, center);
    }
  }


  &>div:nth-child(5){
    width: 100vw;
    height: 70vh;
    background-image: url(범.jpg);
    background-size: cover;
    background-attachment: fixed;
    @include flex-center(flex-end, center );


  }

  &>div:nth-child(6){
    width: 100vw;
    height: 30vh;
    background-color: var(--color-4);
    @include flex-center(center, center);
    flex-direction: column;

    color: var(--color-3);
    font-size: 2rem;

    &>p{
      width: 80vw;
      height: 10vh;
      line-height: 30px;
      text-align: center;
      font-size: 1.5rem;
      @include flex-center(center, center);
    }
  }

  &>div:nth-child(7){
    width: 100vw;
    height: 40vh;
    background-color: #c4c4c4;

    display: flex;
    &>div:nth-child(1){
      width: 100vw;
      height: 40vh;
      background-color: #5f3613;
    }
    &>div:nth-child(2){
      width: 100vw;
      height: 40vh;
      background-color: #012C29;
    }
  }
}
