* {
  margin: 0;
  padding: 0;
}

#root {
  width: 210vw;
  height: 100vh;
  background-color: #999;
}
#root > div:nth-child(1) {
  width: 100vw;
  height: 10vh;
}
#root > div:nth-child(1) > div:nth-child(1) {
  width: 10vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 2vw;
  height: 2vw;
  background-color: #c4c4c4;
}
#root > div:nth-child(2) {
  width: 210vw;
  height: 90vh;
  display: flex;
}
#root > div:nth-child(2) > div:nth-child(1) {
  width: 210vw;
  height: 90vh;
  background-color: #777;
}
#root > div:nth-child(2) > div:nth-child(1) > div {
  width: 33vw;
  height: 90vh;
}
#root > div:nth-child(3) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 25vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(3) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(3) > p {
  width: 2vw;
  height: 35vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}
#root > div:nth-child(4) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 60vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(4) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(4) > p {
  width: 2vw;
  height: 36vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}
#root > div:nth-child(5) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 95vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(5) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(5) > p {
  width: 2vw;
  height: 20vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}
#root > div:nth-child(6) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 130vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(6) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(6) > p {
  width: 2vw;
  height: 9vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}
#root > div:nth-child(7) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 165vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(7) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(7) > p {
  width: 2vw;
  height: 26vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}
#root > div:nth-child(8) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 200vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(8) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(8) > p {
  width: 2vw;
  height: 36vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}
#root > div:nth-child(9) {
  width: 10vw;
  height: 90vh;
  background-color: #c4c4c4;
  position: absolute;
  left: 235vw;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:nth-child(9) > h1 {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
#root > div:nth-child(9) > p {
  width: 2vw;
  height: 36vh;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  margin-left: 10px;
}/*# sourceMappingURL=page2.css.map */