*{margin: 0; padding: 0; box-sizing: border-box;} 

#root{
  width: 100vw;
  height: 100vh;
  &>div:nth-child(1){
    width: 100vw;
    height: 10vh;
    
    &>div:nth-child(1){
      width: 10vw;
      height: 10vh;

      display: flex;
      justify-content: center;
      align-items: center;
      &>div:nth-child(1){
        width: 2vw;
        height: 2vw;
        background-color: #c4c4c4;
      }
    }
  }

  &>div:nth-child(2){
    width: 100vw;
    height: 80vh;
    background-color: #777;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &>div:nth-child(1){
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      border: 1px solid #fff;
    }
    &>div:nth-child(2){
      width: 20vw;
      height: 40vh;
      background-image: url(1.png);
      background-size: 25rem;
    }
    &>div:nth-child(3){
      width: 25vw;
      height: 55vh;
      background-image: url(2.png);
      background-size: cover;
    }
    &>div:nth-child(4){
      width: 20vw;
      height: 40vh;
      background-image: url(3.png);
      background-size: cover;
    }
    &>div:nth-child(5){
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }

  &>div:nth-child(3){
    width: 50vw;
    height: 20vh;
    color: #555;
    font-size: 5rem;
    position: absolute;
    top: 59vh;
    left: 10vw;
  }

}